h1 {
color: red;
font-style: italic;
font-weight: bold;
text-align: center;
font-family: cursive;
}
h2 {
color: blue;
font-style: italic;
font-weight: bold;
text-align: center;
font-family: cursive;
}
h3 {
color: cyan;
font-style: italic;
font-weight: bold;
text-align: center;
font-family: cursive;
}
