h1 {
color: red;
font-style: normal;
font-weight: bold;
text-align: center;
font-family: sans-serif;
}
h2 {
color: blue;
font-style: normal;
font-weight: bold;
text-align: center;
font-family: sans-serif;
}
h3 {
color: cyan;
font-style: normal;
font-weight: bold;
text-align: center;
font-family: sans-serif;
}
